body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #004d40;
    color: white;
    padding: 15px;
    text-align: center;
}

header button{
    background-color: #00897b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

header button:hover{
    background-color: #00695c;
}

#menu-principal{
    color: white;
    padding: 10px 0;
    text-align: center;
}

.nav-item{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav-item:hover{
    color: #00695c;
}

.container {
    display: block;
    visibility: hidden; /*esconde, permite q n seja clicavel*/
    opacity: 0;
    max-height: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    margin: 0;
    padding: 20px;
    background-color: white;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: opacity 0.5s ease-out, visibility 0.5s ease-out, max-height 0.5s ease-out;   
    /* max-height: 0; */
    overflow: hidden;
    z-index: 100;
}

.container.is-active {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    max-height: 500px;
}

#conteudo-login{
    background: white;
    padding: 20px;
    border-radius: 5%;
    width: 50%;
    margin: 10% auto;
    text-align: center;
}

h2, h3 {
    color: #004d40;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
    margin-top: 20px;
}

/* Estilo para Formulários */
form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input[type="text"], form input[type="password"], form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #00897b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #00695c;
}

table{
    float: left;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-right: 0;
    font-size: 0.8em;
}

table, tr, td{
    padding: 0.5em;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}

tbody, tr{
    background-color: #fff;
    color: #666;
}

tbody, tr:hover{
    background-color: #f4f4f4;
    color: #00695c;
}

tbody, tr, td{
    padding: 0.3em;
    border: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
}

.btn-editar, .btn-remover, .btn-transações{
    color:#00d549;
    font-size: 1.2em;
    font-weight: bold;
    display: inline;
    text-decoration: none;
}

.btn-editar:hover{
    color: black;
}

.btn-remover:hover{
    color: black;
}

.btn-transações:hover{
    color: black;
}

